.contactSectionWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sectionTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.contactLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialLink {
    padding: 25px;
}

.socialLogo {
    min-width: 70px;
    max-width: 100px;
    height: 70px;
}

.socialLogo:hover {
    transition: 2s;
    transform: rotate(360deg) rotateY(360deg);
}