@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Major+Mono+Display&family=Montserrat:wght@300&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

.App {
  text-align: center;
  background-color: #000;
  background: url("../../images/background.jpg") no-repeat center center fixed;
  /* Photo by <a href="https://unsplash.com/@leyy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Leyre .</a> on <a href="https://unsplash.com/s/photos/futuristic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
  -webkit-background-size: cover;  
 -moz-background-size: cover; 
  -o-background-size: cover; 
 background-size: cover; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

/* MOBILE-FIRST */

@media 
  (min-width: 0) 
  and (max-device-width: 576px) {
 .App {
    width: 100%;
  }  }