.projectSectionWrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.projectLink {
    width: 100%;
    flex: 50%;
}

.sectionTitle {
    margin-bottom: 50px;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.projectImg {
    min-width: 496px;
    max-width: 500px;
    width: 100%;
    min-height: 347px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 5px 5px 30px 0.5px;

}

.projectImg:hover {
    box-shadow: 10px 5px 5px rgb(77, 71, 71);
}

.projectTitle {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 5px;
}

.projectWrapper {
    padding: 30px;
    margin: 20px;

}

.projectWrapper:hover {
    position: relative;

}

.tags {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    color: #2477ad;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: bold;
    line-break: strict;
    width: 100%;
    margin: 5px;
}

.projectDescriptionTooltip {
    display: none;
    opacity: 0;
    width: 75%;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 20px;
    text-align: left;
}

.projectWrapper:hover .projectDescriptionTooltip {
    display: unset;
    background-color: #959595;
    background-color: #00008B;
    position: absolute;
    top: 30%;
    left: 13%;
    animation-name: graduallyAppear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
}

/* MEDIA QUERIES */

@media (min-width: 0) and (max-width: 576px) {

    .projectSectionWrapper {
        width: 100%;
    }

    .projectContainer {
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }

    .projectImg {
        min-width: 100%;
        max-width: 100%;
    }

    .projectDescriptionTooltip {
        font-size: 1rem;
    }
}

/* ANIMATIONS */

@keyframes graduallyAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}