.navbar {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.list {
    display: flex;
}

.navlink {
    text-decoration: none;
}

.navlink:hover {
    color: lightcoral;
}


@media (min-width: 0) and (max-width: 576px) {
  .navbar {
    margin-bottom: 10px;
  }

  .list {
      flex-direction: column;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
  }

  .listElement {
      padding: 5px;
  }
}