.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* font-family: 'Montserrat', sans-serif; */
    align-items: center;
    width: 50%;
    font-size: 2rem;
}

.list {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
}

.navlink {
    text-decoration: none;
}

.navlink:hover {
    color: lightcoral;
    font-weight: bold;
}


@media (min-width: 0) and (max-width: 576px) {
  .navbar {
    margin-bottom: 10px;
  }

  .list {
      flex-direction: column;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
  }

  .listElement {
      padding: 5px;
  }
}