.TechStackSection {
    width: 75%;
}

.logo {
    width: 100px;
    height: 100px;
}

.techContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
}

@media (min-width: 0) and (max-width: 576px) {
  .logo {
      width: 25px;
      height: 25px;
  }

  .techContainer {
    
  }
}