.TechStackSection {
    width: 75%;
    
}

.logo {
    width: 100px;
    height: 100px;
}

.logo:hover {
    transition: 2s;
    transform: rotateY(360deg) rotate(360deg);
}

.techContainer {
    display: grid;
    width: 100%;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
     column-gap: 5%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    text-align: center;
}

.skill {

    margin-bottom: 15px;
    font-family: monospace;
    font-size: 1.2rem;
    text-align: center;
}

.skillName {
    padding-top: 5px;
}

@media (min-width: 0) and (max-width: 576px) {
  .logo {
      width: 25px;
      height: 25px;
  }

  .techContainer {
    
  }
}