.aboutSection {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75%;
    margin-top: 50px;
    justify-content: space-around;
    font-size: 1.5rem;
}

.inBrackets {
}

.school-of-code:hover {
    color: lightcoral;
}

.picWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.bio {
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
    /* font-family: monospace; */
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.parBio {
    line-height: 1.5rem;
    /* margin-bottom: 20px; */
}

.profile-pic {
    border-radius: 50px;
    height: 500px;
    box-shadow: 0px 0px 5px 1px lightslategray;
    border: none;
}

.larger {
    font-size: 1.9rem;
}

.largerh2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.resumeWrapper {
    margin: 20px;
}

.cvButton {
    background-color: darkblue;
    padding: 10px;
    /* padding-top: 20px; */
    border-radius: 20px;
    text-decoration: none;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'VT323', monospace; */
    /* font-weight: bold; */
    letter-spacing: 5px;
    /* -webkit-text-stroke: 5px black; */
    box-shadow: 1px 1px 15px 2.5px whitesmoke;
    font-size: 1.8rem;
 
}

.cvButton:hover {
    outline: 3px solid lightcoral;
    box-shadow: 2px 2px 5px 2.5px whitesmoke;
}

.cvButton:active {
    background-color: blue;
}

/* MEDIA QUERIES */

@media (min-width: 0) 
  and (max-width: 576px) {
    .profile-pic {
        width: 75%;
        height: 33%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
    }

    .aboutSection {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .descriptionWrapper {
        width: 100%;
    }

    .bio {
        width: 100%;
    }

    .picWrapper {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .inBrackets {
        display: block;
        margin-top: 15px;
    }
   
}

@media (min-width: 577px) and (max-width: 767px) {
    .descriptionWrapper, .bio, .parBio, .aboutSection {
        width: 100%;
    }


    .aboutSection {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 970px) {
    .descriptionWrapper, .bio, .parBio, .aboutSection {
        width: 100%;
    }

    .aboutSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inBrackets {
        display: block;
        margin-top: 15px;
    }

    .bio {
        margin-bottom: 40px;
    }
}

/* ANIMATION */

@keyframes waving {
    from {
        transform: rotate(50deg);
    }

    to {
        transform: rotateZ(-20deg);
    }
}

.hand {
    display: inline-block;
    animation: waving 1s linear 0s infinite alternate;
}