.aboutSection {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75%;
    margin-top: 20px;
    justify-content: space-around;
}

.inBrackets {
    font-size: 1.2rem;
    font-style: italic;
}

.school-of-code:hover {
    color: lightcoral;
}

.picWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.bio {
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
    font-family: monospace;
    font-size: 1.2rem;
}

.parBio {
    line-height: 1.5rem;
}
/* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */

.profile-pic {
    border-radius: 50px;
    height: 500px;
    box-shadow: 0px 0px 5px 1px lightslategray;
    border: none;
}

.larger {
    font-size: 2rem;
}

.largerh2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.resumeWrapper {
    margin: 20px;
}

.cvButton {
    background-color: darkblue;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.cvButton:hover {
    outline: 2px solid lightcoral;
}

.cvButton:active {
    background-color: blue;
}

/* MEDIA QUERIES */

@media (min-width: 0) 
  and (max-width: 576px) {
    .profile-pic {
        width: 75%;
        height: 33%;
    
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
    }

    .aboutSection {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .descriptionWrapper {
        width: 100%;
    }

    .bio {
        width: 100%;
    }

    .picWrapper {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .inBrackets {
        display: block;
        margin-top: 15px;
    }
   
}

@media (min-width: 577px) and (max-width: 768px) {
    .descriptionWrapper, .bio, .parBio, .aboutSection {
        width: 100%;
    }
    .inBrackets {
        display: block;
        margin-top: 15px;
    }
    
}

/* ANIMATION */

@keyframes waving {
    from {
        transform: rotate(50deg);
    }

    to {
        transform: rotateZ(-20deg);
    }
}

.hand {
    display: inline-block;
    animation: waving 1s linear 0s infinite alternate;
}