.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px 20px 40px 20px;
}

.motto {
    font-family: 'Dokdo', cursive;
    font-size: larger;
}

.copyright {
    font-family: 'Roboto Slab', serif;
}

@media (min-width: 0) and (max-width: 576px) {
    .footer {
     width: 75%;

    }
}